.serviceSetting {
  width: 84%;
  min-width: 1200px;
  max-width: 1600px;
  margin: 30px auto;
  margin-bottom: 190px;
  background: #fff;

  &::before {
    content: "";
    display: table;
  }

  &::after {
    content: "";
    display: table;
    clear: both;
  }

  .helpContain {
    min-height: 500px;
    padding: 0 24px;
    padding: 100px 0;
    background: #fff;

    .seviceChoose {
      width: 750px;
      margin: 0 auto;

      p {
        letter-spacing: 0.2px;

        span {
          letter-spacing: 0.2px;
          line-height: 16px;
        }
      }

      .dataChoose {
        padding: 20px;
        margin: 20px 0;
        border: 1px solid #E7E7E7;

        .dcOne {
          position: relative;
          margin-bottom: 20px;

          &:last-child {
            margin-bottom: 0;
          }

          p {
            position: absolute;
            top: 0;
            left: 190px;
            font-size: 14px;
            color: #666666;
            letter-spacing: 0.2px;
          }
        }
      }

      .el-button {
        display: block;
        width: 400px;
        height: 46px;
        margin: 0 auto;
        margin-top: 60px;
      }
    }
  }


}
