.feedback, .position, .number-source-setting, .dep-selector, .sms-config {
  max-width: 1600px;
  margin: 0 auto;
  .align-center {
    display: flex;
    align-items: center;
  }

  //页面容器
  .container-title {
    padding:0 14px 14px 14px;
    border-bottom: 1px solid #E6E6E6;
    justify-content: space-between;
  }
  .container-content {
    padding: 14px;
  }

  //页面标题
  .main-title {
    font-family: 'MicrosoftYaHei-Bold';
    font-size: 24px;
    color: #333;
    font-weight: bold;
    //margin-top:-20px;
  }
  .vice-title {
    font-size: 14px;
    color: #999;
    letter-spacing: 0.2px;
    margin-left: 20px;
  }

  //按钮
  .el-button {
    min-width: 0;
  }
  .btn-4-letters {
    padding: 9px 12px;
  }
  .btn-2-letters {
    padding: 9px 30px;
  }
  .el-button--text {
    color: #3C9EF8;
  }
  .default-btn {
    color: #04730E;
    border: 1px solid #04730E;
    &:hover, &:focus {
      background: #F0F9EB;
    }
  }
  .search-icon {
    cursor: pointer;
  }

  //表单
  .el-input__inner {
    margin: 0;
  }
  .el-input__icon {
    line-height: 18px;
  }
  .el-date-editor .el-range-separator {
    width: 10%;
    line-height: 26px;
  }
  .input-number {
    input {
      line-height: 18px;
    }
  }

  //表格
  .el-table--border td, .el-table--border th{
    border-right: none;
  }
  .el-table--border th {
    background: #F2F2F2;
    color: #666;
  }

  //分页
  .el-pagination.is-background .el-pager li:not(.disabled).active {
    background: #35B53F;
  }
  .el-pagination.is-background .el-pager li:not(.disabled):hover {
    color: #35B53F;
  }
  .el-pagination.is-background .el-pager li:not(.disabled).active:hover {
    color: #FFF;
  }

  //checkbox
  .el-checkbox__input.is-checked .el-checkbox__inner {
    background: #35B53F;
    border-color: #35B53F;
  }
  .el-checkbox__input.is-focus .el-checkbox__inner {
    border-color: #35B53F;
  }
  .el-checkbox__input.is-checked+.el-checkbox__label {
    color: #35B53F;
  }

  //dialog
  .el-dialog__body {
    padding: 0;
    border-top: 1px solid #E7E7E7;
    border-bottom: 1px solid #E7E7E7;
  }
  .el-dialog__footer {
    padding: 16px 24px 20px;
  }

  //滚动条
  .scrollbar {
    height: 100%;
  }
  .scrollbar /deep/ .el-scrollbar__wrap {
    overflow-x: hidden;
  }

  //面包屑
  .el-breadcrumb__inner.is-link:hover {
    color: #35b53f;
  }
}